.home-title-btn {
    background: #793EF5;
    color: aliceblue;
    border: none;
    padding: 12px 16px;
    border-radius: 12px;
}

.home-title-btn:hover {
    background: #793EF5;
}

.create-int-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.internship-main-text {
    align-items: center;
}

.main-title-row {
    align-items: center;
    margin-left: 350px;
    width: 69.2%;
    margin-bottom: 2%;
    justify-content: space-between;

}