.home-title-btn {
    background: #793EF5 ;
    border: none;
    padding: 12px 16px;
    border-radius: 12px;
    color:#fff;
    /* float:right; */
    margin-bottom:2%;
}
.home-title-btn:hover{
    background: #793EF5;
}

.create-int-btn{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.internship-main-text{
    align-items: center;
}
.main-title-row{
    display: flex;
    align-items: center;
    margin-left:350px;
    width:65%;
    margin-bottom:2%;
    justify-content: space-between;
    
}