

.sideBarCode {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sidebar-sticky {
    width: 160px;
    height: 32px;
    display: inline-flex;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar-logo {
    margin-left: 10%
}

.image-class {
    display: flex;
    margin: auto;
    align-items: center;
}

.link-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 30px;
    margin-top: 1.1%;
    position: absolute;
    gap: 12px;
    width: 219px;
    height: 97vh;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    margin-left: 1%;
}
.link-style  a {
color:#000;
display:flex;
align-items: center;

}
.nav-item{
display:flex;
align-items: center;
}
.svg{
    width:20px;
    height:20px;
}

.home-logo {
    margin: auto;
    width: 100%;
    padding-bottom: 3%;
}

.pass-firm {
    margin-bottom: 20px;
}

.internInsight-Container {
    background-color: #F6F5F9;
    border-radius: 16px;
    padding: 1% 2% 3% 2%;
    inline-size: 300px;
    margin-left: 350px;
    margin: 2%;
    /* overflow: hidden; */
    display:flex;
    flex-direction: column;

}

.int-insight-main-container{
background-color: #fff;
 border-radius: 16px;
 /* inline-size: 1200px; */
 /* height:260px; */
 display:flex;
 margin-left: 350px;
 margin-bottom: 2%;
}