.sideBarCode {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sidebar-sticky {
    width: 160px;
    height: 32px;
    display: inline-flex;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar-logo {
    margin-left: 10%
}

.image-class {
    display: flex;
    margin: auto;
    align-items: center;
}

.link-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 30px;
    margin-top: 1.1%;
    position: absolute;
    justify-content: space-around;
    gap: 12px;
    width: 219px;
    height: 97vh;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    margin-left: 1%;
}

.link-style a {
    color: #000;
    display: flex;
    align-items: center;

}

.nav-item {
    padding-left: inherit;
    display: flex;
    align-items: center;
}

.svg {
    width: 20px;
    height: 20px;
}

.home-logo {
    margin: auto;
    width: 100%;
    padding-bottom: 3%;
}

.pass-firm {
    margin-bottom: 20px;
}


.profile-picture {
    width: 50px;
    height: 50px;

    /* Gray 50 */
    background: #E2E6EB;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.profile-section {
    display: flex;
    flex: auto;
    align-items: flex-end;
    margin-bottom: 4%;
}

.active-link {
    border-radius: 16px;
    border: 1px solid #793EF5;
    background: rgba(102, 95, 239, 0.2);
    width: 189px;
    height: 48px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.nav-item:hover  {
    border-radius: 16px;
    border: 1px solid #793EF5;
    background: rgba(102, 95, 239, 0.2);
    width: 189px;
    height: 48px;
    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */
}