/* css reset   */
body, header, nav, main, footer, article, aside,
section, figure, figcaption,
h1, h2, h3, h4, div, img, ul    {
    margin: 0;
    padding: 0;
    border: 0;
}

.intern-insight-container {
    background-color: #F6F5F9;
    border-radius: 16px;
    padding: 1% 2% 3% 2%;
    inline-size: 300px;
    margin: 0 2% 0 0;
    display: flex;
    flex-direction: column;
}

.int-insight-main-container {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    margin-bottom: 2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: .8%;
    width: 70%;
    margin-left: 340px;
    height: auto;
    order: 0;
    flex-grow: 0;

}

.layout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: inherit;
    height: 48px;
    background: #F2F2F2;
    border-radius: 12px;

}

.this-week-container {
    padding: 6px 12px;
    background: #793EF5;
    border-radius: 8px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 14px;
}

.this-month-container {
    padding: 6px 12px;
    gap: 8px;
    width: Hug(100px);
    height: Hug(32px);
    background: #FFFFFF;
    border-radius: 8px;
    order: 0;
    flex-grow: 0;
    font-size: 14px;
}

.select-dates-container {
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    margin-left: auto;
    align-items: center;
    order: 0;
    flex-grow: 0;
    font-size: 14px;
}

.select-dates {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.calender-icon {
    display: flex;
    padding-right: 5px;
}

/*  media query         */

/*  Device Breakpoints  */
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {background: pink;}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    html { background: orange; }
    .int-insight-main-container {
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        margin-bottom: 2%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: .8%;
        width: auto;
        margin-left: 340px;
        height: auto;
        order: 0;
        flex-grow: 0;
        flex-wrap: wrap;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    html  {  background: blue;  } 

}

/* Extra small devices (phones, 600px and down)  */

html  { min-width: 200px; } 

@media only screen and (max-width: 600px) {
    html  {  background: red;  } 

    .int-insight-main-container {
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        margin-bottom: 2%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: .8%;
        width: auto;
        margin-left: 340px;
        height: auto;
        order: 0;
        flex-grow: 0;
        flex-wrap: wrap;
    }

    .layout-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 10px;
        width: inherit;
        /*height: 48px;     */
        height: 200px;
        background: #F2F2F2;
        border-radius: 12px;
        flex-wrap: wrap;
    }

    .intern-insight-container {
        background-color: #F6F5F9;
        border-radius: 16px;
        padding: 1% 2% 3% 2%;
        inline-size: 300px;
        margin: 0 2% 0 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}