.tableLayout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1135px;
    height: 536px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 10px;
    margin-left: 350px
}

.colOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 385px;
    height: 536px;
    flex: none;
    order: 0;
    flex-grow: 1;   
}

.colOneEle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 56px;
    width: 385px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.colOneTextBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 195px;
    height: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colOneMainText {
    width: 195px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #2F3031;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.colOneText {
    width: 195px;
    height: 32px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'liga' off;
    color: #2F3031;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.colTwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 200px;
    height: 536px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.colTwoEle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 56px;
    width: 200px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.colTwoTextBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 137px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colTwoDayText {
    width: 136px;
    height: 20px; 
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-feature-settings: 'liga' off;  
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colTwoText {
    width: 137px;
    height: 16px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-feature-settings: 'liga' off;
    color: #828282;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.colThree {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 160px;
    height: 536px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.colThreeEle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 56px;
    width: 160px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.colThreeTextBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    width: 94px;
    height: 40px;
    background: #F0EFFD;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colThreeText {
    width: 62px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #793EF5;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colFour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 250px;
    height: 536px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.colFourEle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 56px;
    width: 250px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.colFourBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 190px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colFourTextBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4px;
    gap: 8px;
    width: 40px;
    height: 24px;
    background: #793EF5;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colFourText {
    width: 32px;
    height: 16px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.colFourGraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
    width: 190px;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.colFive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 140px;
    height: 536px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.colFiveEle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 56px;
    width: 140px;
    height: 96px;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.colFiveIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 108px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon {
    opacity: 0.5;
    color:#793EF5
}

.tableHeader {
    background-color: #F6F5F9;
    height: 56px;   
    font-family: 'Space Grotesk';
}

.border-left{
     border-top-left-radius: 25px;
}
.border-right{
     border-top-right-radius: 25px;
}
.border-left-bottom{
     border-bottom-left-radius: 25px;
}
.border-right-bottom{
     border-bottom-right-radius: 25px;
}